@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;700&display=swap');

body {
    margin: 0%;
    padding: 0%;
}

.banner-part {
    text-align: center;
    background-image: url('images/donation1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 669px;
    left: 0px;
    top: 0px;
    border-radius: 0px;

}

.headline-area {
    padding: 100px;
    color: white;
}